<form method="post" class="d-inline-block" action="{{ path('app_brand_delete', {'id': brand.id}) }}" onsubmit="return confirm('Etes vous sรปr de vouloir supprimer cette marque ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ brand.id) }}">
    <button class="btn">๐๏ธ</button>
</form>
