{% extends 'base.html.twig' %}

{% block h1 %}<h1 class="title">Ajouter une catégorie</h1>{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_admin') }}">Back office</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_category_index') }}">Gestion des catégories</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ajouter</li>
        </ol>
    </nav>

    {{ include('category/_form.html.twig') }}

    
{% endblock %}
