<form method="post" class="d-inline-block" action="{{ path('app_promotion_delete', {'id': promotion.id}) }}" onsubmit="return confirm('Etes vous sรปr de vouloir supprimer cette promotion ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ promotion.id) }}">
    <button class="btn">๐๏ธ</button>
</form>
