{% extends 'base.html.twig' %}

{% block title %}New OrderList{% endblock %}

{% block body %}
    <h1>Create new OrderList</h1>

    {{ include('order_list/_form.html.twig') }}

    <a href="{{ path('app_order_list_index') }}">back to list</a>
{% endblock %}
