{% extends 'base.html.twig' %}

{% block h1 %}<h1 class="title">Modifier adresse de facturation d'une commande</h1>{% endblock %}

{% block body %}
    

    {{ include('billing_adress_order/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_billing_adress_order_index') }}">back to list</a>

    {{ include('billing_adress_order/_delete_form.html.twig') }}
{% endblock %}
