{% extends 'base.html.twig' %}

{% block title %}Edit ShippingAdress{% endblock %}

{% block body %}
    <h1>Edit ShippingAdress</h1>

    {{ include('shipping_adress/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_shipping_adress_index') }}">back to list</a>

    {{ include('shipping_adress/_delete_form.html.twig') }}
{% endblock %}
