{% extends "base.html.twig" %}

{% block h1 %}<h1 class="title">Adresse de livraison</h1>{% endblock %}

{% block body %}
    

    {{ include('shipping_adress/_form.html.twig') }}

    
{% endblock %}
